.so-widget-sow-social-media-buttons-flat-ed472a5798a2 .social-media-button-container {
  zoom: 1;
  text-align: left;
  /*
    &:after {
        content:"";
        display:inline-block;
        width:100%;
    }
    */
}
.so-widget-sow-social-media-buttons-flat-ed472a5798a2 .social-media-button-container:before {
  content: '';
  display: block;
}
.so-widget-sow-social-media-buttons-flat-ed472a5798a2 .social-media-button-container:after {
  content: '';
  display: table;
  clear: both;
}
@media (max-width: 780) {
  .so-widget-sow-social-media-buttons-flat-ed472a5798a2 .social-media-button-container {
    text-align: left;
  }
}
.so-widget-sow-social-media-buttons-flat-ed472a5798a2 .sow-social-media-button-phone {
  color: #ffffff !important;
  background-color: #99e5aa;
  border: 1px solid #99e5aa;
}
.so-widget-sow-social-media-buttons-flat-ed472a5798a2 .sow-social-media-button-phone:visited,
.so-widget-sow-social-media-buttons-flat-ed472a5798a2 .sow-social-media-button-phone:active,
.so-widget-sow-social-media-buttons-flat-ed472a5798a2 .sow-social-media-button-phone:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-flat-ed472a5798a2 .sow-social-media-button-phone.ow-button-hover:hover {
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-flat-ed472a5798a2 .sow-social-media-button-phone.ow-button-hover:hover {
  background: #a9e9b8;
  border-bottom-color: #a9e9b8;
}
.so-widget-sow-social-media-buttons-flat-ed472a5798a2 .sow-social-media-button-email {
  color: #ffffff !important;
  background-color: #99c4e6;
  border: 1px solid #99c4e6;
}
.so-widget-sow-social-media-buttons-flat-ed472a5798a2 .sow-social-media-button-email:visited,
.so-widget-sow-social-media-buttons-flat-ed472a5798a2 .sow-social-media-button-email:active,
.so-widget-sow-social-media-buttons-flat-ed472a5798a2 .sow-social-media-button-email:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-flat-ed472a5798a2 .sow-social-media-button-email.ow-button-hover:hover {
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-flat-ed472a5798a2 .sow-social-media-button-email.ow-button-hover:hover {
  background: #a9cdea;
  border-bottom-color: #a9cdea;
}
.so-widget-sow-social-media-buttons-flat-ed472a5798a2 .sow-social-media-button-facebook {
  color: #ffffff !important;
  background-color: #3a5795;
  border: 1px solid #3a5795;
}
.so-widget-sow-social-media-buttons-flat-ed472a5798a2 .sow-social-media-button-facebook:visited,
.so-widget-sow-social-media-buttons-flat-ed472a5798a2 .sow-social-media-button-facebook:active,
.so-widget-sow-social-media-buttons-flat-ed472a5798a2 .sow-social-media-button-facebook:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-flat-ed472a5798a2 .sow-social-media-button-facebook.ow-button-hover:hover {
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-flat-ed472a5798a2 .sow-social-media-button-facebook.ow-button-hover:hover {
  background: #4060a4;
  border-bottom-color: #4060a4;
}
.so-widget-sow-social-media-buttons-flat-ed472a5798a2 .sow-social-media-button-youtube {
  color: #ffffff !important;
  background-color: #cf3427;
  border: 1px solid #cf3427;
}
.so-widget-sow-social-media-buttons-flat-ed472a5798a2 .sow-social-media-button-youtube:visited,
.so-widget-sow-social-media-buttons-flat-ed472a5798a2 .sow-social-media-button-youtube:active,
.so-widget-sow-social-media-buttons-flat-ed472a5798a2 .sow-social-media-button-youtube:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-flat-ed472a5798a2 .sow-social-media-button-youtube.ow-button-hover:hover {
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-flat-ed472a5798a2 .sow-social-media-button-youtube.ow-button-hover:hover {
  background: #d83f32;
  border-bottom-color: #d83f32;
}
.so-widget-sow-social-media-buttons-flat-ed472a5798a2 .sow-social-media-button {
  font-size: 1em;
  padding: 1em 1em;
  margin: 0.1em 0.1em 0.1em 0;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 1em;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
}
.so-widget-sow-social-media-buttons-flat-ed472a5798a2 .sow-social-media-button .sow-icon-fontawesome {
  width: 1em;
  height: 1em;
  display: inline-block;
}