.so-widget-sow-icon-default-3c92c7c1d1e4 .sow-icon {
  text-align: center;
}
.so-widget-sow-icon-default-3c92c7c1d1e4 .sow-icon span,
.so-widget-sow-icon-default-3c92c7c1d1e4 .sow-icon a span {
  display: inline-block;
  color: #1a73e8 !important;
  font-size: 120px !important;
}