.so-widget-sow-price-table-atom-567c02815368 {
  /* Header colors */
  /* Button colors */
}
.so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom {
  zoom: 1;
  padding-top: 20px;
}
.so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom:before {
  content: '';
  display: block;
}
.so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom:after {
  content: '';
  display: table;
  clear: both;
}
.so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom .ow-pt-column {
  float: left;
}
.so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom .ow-pt-column .ow-pt-title {
  background: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e6e6e6), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #e6e6e6, #ffffff);
  background: -moz-linear-gradient(center bottom, #e6e6e6 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  padding: 20px 0;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  border: 1px solid #cccccc;
  border-bottom: 0;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
  font-size: 1.1em;
}
.so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom .ow-pt-column .ow-pt-title .ow-pt-subtitle {
  font-size: 0.9em;
  color: #F0F0F0;
}
.so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom .ow-pt-column .ow-pt-details {
  background: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ffffff), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #ffffff, #ffffff);
  background: -moz-linear-gradient(center bottom, #ffffff 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, #ffffff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
  position: relative;
  padding: 15px 25px;
  border-width: 1px;
  border-style: solid;
  border-color: #fafafa;
  border-top-color: #cccccc;
  border-right-width: 0;
  -webkit-box-shadow: inset 0px -15px 25px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0px -15px 25px rgba(0,0,0,0.05);
  box-shadow: inset 0px -15px 25px rgba(0,0,0,0.05);
  text-align: center;
}
.so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom .ow-pt-column .ow-pt-details .ow-pt-price {
  color: #FFFFFF;
  font-size: 2.5em;
  line-height: 1.25em;
  font-weight: 300;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
.so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom .ow-pt-column .ow-pt-details .ow-pt-per {
  color: #ffffff;
}
.so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom .ow-pt-column .ow-pt-image {
  line-height: 0;
}
.so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom .ow-pt-column .ow-pt-image img {
  display: block;
  max-width: 100%;
  height: auto;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom .ow-pt-column .ow-pt-features {
  font-size: 0.925em;
  color: #5f6062;
}
.so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom .ow-pt-column .ow-pt-features .ow-pt-feature {
  padding: 15px 20px;
  background: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fcfcfc), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #fcfcfc, #ffffff);
  background: -moz-linear-gradient(center bottom, #fcfcfc 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, #fcfcfc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fcfcfc', GradientType=0);
  text-shadow: 0 1px 0 #FFFFFF;
}
.so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom .ow-pt-column .ow-pt-features .ow-pt-feature .sow-feature-icon {
  display: table-cell;
  vertical-align: middle;
  padding-right: 10px;
}
.so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom .ow-pt-column .ow-pt-features .ow-pt-feature .sow-feature-icon + .sow-feature-text {
  display: table-cell;
  vertical-align: middle;
}
.so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom .ow-pt-column .ow-pt-features .ow-pt-feature.ow-pt-feature-odd {
  background: #f1f1f1;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(1, #f1f1f1));
  background: -ms-linear-gradient(bottom, #eeeeee, #f1f1f1);
  background: -moz-linear-gradient(center bottom, #eeeeee 0%, #f1f1f1 100%);
  background: -o-linear-gradient(#f1f1f1, #eeeeee);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#eeeeee', GradientType=0);
}
.so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom .ow-pt-column .ow-pt-features .ow-pt-feature strong {
  font-weight: 500;
}
.so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom .ow-pt-column .ow-pt-features .ow-pt-feature p {
  margin: 0;
  display: inline-block;
}
.so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom .ow-pt-column .ow-pt-features .ow-pt-feature [class^="sow-icon-"] {
  display: inline-block;
  margin-right: 0.5em;
}
.so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom .ow-pt-column .ow-pt-features .ow-pt-feature:last-child {
  border-bottom-width: 0;
}
.so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom .ow-pt-column.ow-pt-even .ow-pt-features .ow-pt-feature {
  background: #f9f9f9;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f6f6f6), color-stop(1, #f9f9f9));
  background: -ms-linear-gradient(bottom, #f6f6f6, #f9f9f9);
  background: -moz-linear-gradient(center bottom, #f6f6f6 0%, #f9f9f9 100%);
  background: -o-linear-gradient(#f9f9f9, #f6f6f6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f6f6f6', GradientType=0);
}
.so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom .ow-pt-column.ow-pt-even .ow-pt-features .ow-pt-feature.ow-pt-feature-odd {
  background: #eeeeee;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ebebeb), color-stop(1, #eeeeee));
  background: -ms-linear-gradient(bottom, #ebebeb, #eeeeee);
  background: -moz-linear-gradient(center bottom, #ebebeb 0%, #eeeeee 100%);
  background: -o-linear-gradient(#eeeeee, #ebebeb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ebebeb', GradientType=0);
}
.so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom .ow-pt-column.ow-pt-last .ow-pt-details {
  border-right-width: 1px;
}
.so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom .ow-pt-column.ow-pt-last .ow-pt-features .ow-pt-feature {
  border-right-width: 1px;
}
.so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom .ow-pt-column .ow-pt-button {
  display: block;
  padding: 15px;
  text-align: center;
  background: #e8e8e8;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dadada), color-stop(1, #e8e8e8));
  background: -ms-linear-gradient(bottom, #dadada, #e8e8e8);
  background: -moz-linear-gradient(center bottom, #dadada 0%, #e8e8e8 100%);
  background: -o-linear-gradient(#e8e8e8, #dadada);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8', endColorstr='#dadada', GradientType=0);
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #cfcfcf;
}
.so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom .ow-pt-column .ow-pt-button a.ow-pt-link {
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 0.9em;
  padding: 0.675em 1.25em;
  text-decoration: none;
  color: #ffffff;
  background: #2ebc4f;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #24933e), color-stop(1, #2ebc4f));
  background: -ms-linear-gradient(bottom, #24933e, #2ebc4f);
  background: -moz-linear-gradient(center bottom, #24933e 0%, #2ebc4f 100%);
  background: -o-linear-gradient(#2ebc4f, #24933e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2ebc4f', endColorstr='#24933e', GradientType=0);
  border: 1px solid #1a6a2d;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25), 0 1px 2px rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25), 0 1px 2px rgba(0,0,0,0.15);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.25), 0 1px 2px rgba(0,0,0,0.15);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  margin: 0;
}
.so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom .ow-pt-column .ow-pt-button a.ow-pt-link:hover {
  background: #31c854;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #279f43), color-stop(1, #31c854));
  background: -ms-linear-gradient(bottom, #279f43, #31c854);
  background: -moz-linear-gradient(center bottom, #279f43 0%, #31c854 100%);
  background: -o-linear-gradient(#31c854, #279f43);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#31c854', endColorstr='#279f43', GradientType=0);
  border: 1px solid #1d7632;
}
.so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom .ow-pt-column.ow-pt-featured {
  margin-top: -20px;
}
.so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom .ow-pt-column.ow-pt-featured .ow-pt-title {
  padding: 30px 0;
  border-color: #cccccc;
  background: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e6e6e6), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #e6e6e6, #ffffff);
  background: -moz-linear-gradient(center bottom, #e6e6e6 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
}
.so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom .ow-pt-column.ow-pt-featured .ow-pt-details {
  border-color: #fafafa;
  border-top-color: #cccccc;
  background: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ffffff), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #ffffff, #ffffff);
  background: -moz-linear-gradient(center bottom, #ffffff 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, #ffffff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
}
.so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom .ow-pt-column.ow-pt-featured .ow-pt-button a.ow-pt-link {
  color: #777777;
  background: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e6e6e6), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #e6e6e6, #ffffff);
  background: -moz-linear-gradient(center bottom, #e6e6e6 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border: 1px solid #cccccc;
}
.so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom .ow-pt-column.ow-pt-featured .ow-pt-button a.ow-pt-link:hover {
  background: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e6e6e6), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #e6e6e6, #ffffff);
  background: -moz-linear-gradient(center bottom, #e6e6e6 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border: 1px solid #cccccc;
}
@media (max-width: 680px) {
  .so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom {
    padding-top: 0;
  }
  .so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom.sow-equalize-row-heights .ow-pt-title,
  .so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom.sow-equalize-row-heights .ow-pt-details,
  .so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom.sow-equalize-row-heights .ow-pt-image,
  .so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom.sow-equalize-row-heights .ow-pt-features,
  .so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom.sow-equalize-row-heights .ow-pt-button,
  .so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom.sow-equalize-row-heights .ow-pt-feature {
    height: auto !important;
  }
  .so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom .ow-pt-column {
    float: none;
    width: auto !important;
    margin-bottom: 20px;
  }
  .so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom .ow-pt-column.ow-pt-featured {
    margin-top: 0;
  }
  .so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom .ow-pt-column .ow-pt-details {
    border-right-width: 1px;
  }
  .so-widget-sow-price-table-atom-567c02815368 .ow-pt-columns-atom .ow-pt-column .ow-pt-features .ow-pt-feature {
    border-width: 0 1px 1px 1px;
  }
}